{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Monkey D. Luffy</h1>
        <p>Kaizoku oni ore wa naru</p>
    </div>
    <div class="col-4">
        <img src="assets/img/one-piece-monkey-d-luffy.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}